# Problem statement: https://judge.nitro-ai.org/roai-2025/simulare-ojia-2/problems/1/task

# Preparing data

In [1]:
import pandas as pd

train_df = pd.read_csv("train_data.csv")
test_df = pd.read_csv("test_data.csv")

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3219 entries, 0 to 3218
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      3219 non-null   int64
 1   Age                     3219 non-null   float64
 2   Race                    3219 non-null   object
 3   Marital Status          3219 non-null   object
 4   T Stage                 3219 non-null   object
 5   N Stage                 3219 non-null   object
 6   6th Stage               3116 non-null   object
 7   differentiate           3219 non-null   object
 8   Grade                   3219 non-null   object
 9   A Stage                 3219 non-null   object
 10  Tumor Size              2256 non-null   float64
 11  Estrogen Status         3219 non-null   object
 12  Progesterone Status     3219 non-null   object
 13  Regional Node Examined  3219 non-null   float64
 14  Reginol Node Positive   3219 non-null   float64
 15  Status                  3219 non-null   object
 16  T_N_Stage               3219 non-null   object
 17  Hormone_Status          3219 non-null   object
 18  Reginol Node Negative   3219 non-null   float64
 19  Blood Pressure          3219 non-null   float64
 20  Diastolic Pressure      3219 non-null   float64
 21  Cholesterol             3219 non-null   float64
 22  Body Temperature        3219 non-null   float64
 23  Oxygen Saturation       3219 non-null   float64
 24  Respiratory Rate        3219 non-null   float64
 25  Blood Glucose           3219 non-null   float64
 26  BMI                     3219 non-null   float64
 27  Heart Rate              3219 non-null   float64
 28  Serum Creatinine        3219 non-null   float64
 29  Uric Acid               3219 non-null   float64
 30  Hemoglobin              3219 non-null   float64
 31  GFR                     3219 non-null   float64
 32  Serum Sodium            3219 non-null   float64
 33  Serum Potassium         3219 non-null   float64
 34  Serum Albumin           3219 non-null   float64
 35  Lactate                 3219 non-null   float64
dtypes: float64(22), int64(1), object(13)
memory usage: 905.5+ KB

I have to manage the missing values from "Tumor Size" and "6th Stage" attributes. Also i notice some attributes that i want to drop

In [2]:
#brief examination of the entries containing NaN
print(train_df.loc[:10, ["Tumor Size","6th Stage"]])
train_df.iloc[:10, :16]

     Tumor Size 6th Stage
0           NaN       NaN
1   3998.797606       IIB
2     10.712932       IIA
3     15.964767       IIA
4     21.246372       IIB
5     21.784822       IIB
6   1002.075122       IIB
7     -0.083314      IIIA
8           NaN       IIB
9     64.225459      IIIA
10  4005.053343       IIB

,ID,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Status
0,1,62.300654,White,Widowed,T1,N1,NaN,Moderately differentiated,2,Regional,NaN,Positive,Positive,61.952140,-3.000350,Alive
1,2,37.268422,White,Married,T2,N1,IIB,Well differentiated,1,Regional,3998.797606,Positive,Positive,3.807271,2.312096,Alive
2,3,55.864953,White,Single,T1,N1,IIA,Well differentiated,1,Regional,10.712932,Positive,Positive,54.044711,6.499322,Alive
3,4,60.586799,White,Divorced,T1,N1,IIA,Poorly differentiated,3,Regional,15.964767,Positive,Positive,11.860835,11.537015,Alive
4,5,48.197741,White,Separated,T2,N1,IIB,Moderately differentiated,2,Regional,21.246372,Positive,Positive,4.571804,-6.975745,Alive
5,6,50.346899,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,21.784822,Positive,Positive,29.040042,-5.993005,Alive
6,7,23.784110,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,1002.075122,Positive,Negative,15.406487,1.342336,Alive
7,8,45.510135,Black,Married,T3,N1,IIIA,Moderately differentiated,2,Regional,-0.083314,Positive,Positive,82.219199,9.100124,Dead
8,9,66.192324,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,NaN,Positive,Positive,19.371417,2.151866,Alive
9,10,60.701490,White,Widowed,T3,N1,IIIA,Poorly differentiated,3,Regional,64.225459,Positive,Negative,62.702391,5.417244,Alive

In [3]:
train_df.describe()

,ID,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Reginol Node Negative,Blood Pressure,Diastolic Pressure,Cholesterol,Body Temperature,...,BMI,Heart Rate,Serum Creatinine,Uric Acid,Hemoglobin,GFR,Serum Sodium,Serum Potassium,Serum Albumin,Lactate
count,3219.000000,3219.000000,2256.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,...,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000,3219.000000
mean,1610.000000,53.901473,720.038940,24.409893,4.255076,10.047494,134.587488,88.919902,223.451326,38.033875,...,29.114799,79.638509,0.917828,5.321600,15.163777,90.243284,140.053107,4.248460,4.272023,1.069535
std,929.389585,10.294228,1246.422989,22.708226,7.144451,9.003695,26.430064,18.385016,43.856939,5.175210,...,7.942761,12.760401,5.006427,5.100319,5.255430,17.720652,5.728874,5.039367,4.829481,5.016940
min,1.000000,19.751908,-7.064732,-10.604551,-13.080537,-16.287874,76.517261,47.126692,139.373409,16.116879,...,5.612847,47.926433,-15.806928,-12.841881,-2.859851,45.645460,121.729688,-13.244634,-16.834811,-14.882563
25%,805.500000,46.604853,19.015620,9.420290,-0.411446,3.649412,112.283314,73.454975,186.525984,34.602218,...,23.261407,69.429444,-2.454253,1.677006,11.688549,75.794487,136.254325,0.809133,1.016480,-2.442360
50%,1610.000000,54.251208,34.031375,16.733487,3.332956,9.374251,134.298555,88.367863,223.005459,37.992581,...,29.199006,79.280944,0.873854,5.269914,15.147940,90.674069,140.048988,4.223347,4.275040,1.144759
75%,2414.500000,61.676225,999.511983,29.037701,7.777126,15.542617,156.782306,104.307555,260.305345,41.476701,...,34.858202,89.917913,4.396527,8.791919,18.711793,104.821243,144.011247,7.668340,7.460993,4.453030
max,3219.000000,82.524127,4013.134127,96.122485,48.973461,55.639502,190.171476,129.451922,307.504717,55.125883,...,53.693036,112.606110,20.557006,22.019927,36.576925,128.976245,158.091875,24.960126,22.494888,20.029740

## Further investigations revealed that there are negative values (unusual since some are measurements). I will keep them this way and only impute the missing values with the median for numerical features and with 'missing' for categorical ones.

# Data related tasks

## Subtask 1

In [4]:
GFR_cat = (test_df['GFR'] >= 90).map({True:'Normal', False:'Mildly Decreased'})

## Subtask 2

In [5]:
train_quartiles = train_df['Serum Creatinine'].quantile([0.25, 0.5, 0.75])
train_quartiles

bins = [-1e10, train_quartiles[0.25], train_quartiles[0.5], train_quartiles[0.75], 1e10]
labels = ['Very Low', 'Low', 'High', 'Very High']

risk_level = pd.cut(test_df['Serum Creatinine'], bins=bins, labels=labels)

## Subtask 3

In [6]:
train_median_BMI = train_df['BMI'].median()

BMI_status = (test_df['BMI'] > train_median_BMI).map({True:1, False:0})

## Subtask 4

In [7]:
T_vals = train_df['T Stage'].value_counts()
patient_similar_T  = test_df['T Stage'].map(T_vals)
patient_similar_T

0      1281
1      1281
2      1430
3       418
4      1281
       ...
800    1281
801    1430
802    1430
803    1281
804    1281
Name: T Stage, Length: 805, dtype: int64

# Helper function for getting column labels

In [8]:
#This is my function with a dynamic approach of sorting on dtypes 
def identify_attributes_labels(df):
    """
    Identifies and returns various attributes of the given DataFrame.
    
    This function returns:
    - All numerical features in the DataFrame.
    - Numerical features that contain NaN values.
    - All categorical features in the DataFrame.
    - Categorical features that contain NaN values.

    Parameters:
    ----------
    df : pandas.DataFrame
        The DataFrame from which features will be identified.

    Returns:
    -------
    tuple : 
        - numerical_columns (pandas.Index): All numerical feature columns.
        - numerical_nan_columns (pandas.Index): Numerical features with NaN values.
        - categorical_columns (pandas.Index): All categorical feature columns.
        - categorical_nan_columns (pandas.Index): Categorical features with NaN values.
    """
    numerical_features = df.select_dtypes(include=['float', 'int'])
    
    numerical_features_with_nan_labels = numerical_features.columns[numerical_features.isna().any()]
    
    cat_features = df.select_dtypes(exclude=['float', 'int'])
    
    cat_features_with_nan_labels = cat_features.columns[cat_features.isna().any()]

    return numerical_features.columns, numerical_features_with_nan_labels, cat_features.columns, cat_features_with_nan_labels

In [9]:
num_atr_cols, num_nan_cols, cat_atr_cols, cat_nan_cols = identify_attributes_labels(train_df)

# ML Architecture:

### Making my preprocessing pipeline

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Since i'll use RF model, i don't need scaling
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
])

cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value="Missing")),
    ('HotEncode', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer([
    ('num', num_pipeline, num_atr_cols),
    ('cat', cat_pipeline, cat_atr_cols)
])

### Model pipeline

In [11]:
from sklearn.ensemble import RandomForestClassifier

model_pipeline = Pipeline([
    ('prepr', preprocessor),
    ('classif', RandomForestClassifier(random_state=42))
])

# Subtask 5

In [12]:
# What i want to do next: 
# --> Train and evaluate with CV
# --> Fine-Tune with Search
# --> Analyze results.